---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
NamespaceIndentation: None
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
Cpp11BracedListStyle: true
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true
...
